@using EntityLayer.Concrete
@model List<User>



<!DOCTYPE html>
<html lang="zxx">

<head>

    <script>addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}</script>
    <link href="~/CoreBlogTema-main/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema-main/web/ccss/single.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema-main/web/ccss/style.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema-main/web/ccss/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>

<body>
    <!--Header-->

    <header>
    </header>
    <!--//header-->
    <!--/banner-->
    <div class="banner-inner">
    </div>

    <!--//banner-->
    <!--/main-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <div class="row inner-sec">
                <div class="login p-5 bg-light mx-auto mw-100">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1 mb-2">Email adres</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1 mb-2">Şifre</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                        </div>
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Beni hatırla</label>
                        </div>
                        <button type="submit" class="btn btn-primary submit mb-4">Giriş yap</button>
                        <p><a href="register"> Hesabınız yok mu?</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--//main-->
    <!--footer-->
    <!---->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="~/CoreBlogTema-main/web/js/move-top.js"></script>
    <script src="~/CoreBlogTema-main/web/js/easing.js"></script>
    <script>jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});</script>
    <!--// end-smoth-scrolling -->

    <script>$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});</script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="js/bootstrap.js"></script>


</body>

</html>